$base-bg-color: rgb(162, 241, 168);
$base-color: rgb(115, 115, 115);
$base-font: 16px 'Arial', sans-serif;

$transition-property: 0.3s ease-in;

$content-max-width: 768px;
$content-min-width: 320px;



