.app {
  padding: 20px;
  transition: padding $transition-one;
}

.app__title {
  margin-bottom: 10px;
  color: $white-color;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: $title-font-family;
}

.app__content {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $base-box-shadow;
  transition: box-shadow $transition-one;
}

@media screen and (max-width: $breakpoint-two) {
  .app {
    padding: 20px 0;
  }

  .app__content {
    box-shadow: none;
  }

  .sort__link {
    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}