.sort {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: {
    top: 1px solid #dcdcdc;
    bottom: 1px solid #dcdcdc;
  }
}

.sort__link {
  text-decoration: none;
  display: inline-block;
  color: #979797;
  font-weight: bold;
  padding: 10px;
  user-select: none;
  transition: color $transition-property;
  &:nth-child(2) {
    margin: 0 20px;
  }
  &.active {
    color: #464646;
  }
}

.sort__delete-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../img/trash.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.1s ease-in;
  &:hover {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 371px) {
  .sort__link {
    padding: 10px;
    &:nth-child(2) {
      margin: 0 5px;
    }
  }

  .sort__delete-button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .sort__delete-button {
    transition: none;
    &:hover {
      transform: none;
    }
  }
}
