.sort {
  @include flex-props();
  background: $white-color;
  padding: 10px;
  border: {
    top: $border;
    bottom: $border;
  }
}

.sort__link {
  text-decoration: none;
  display: inline-block;
  color: $grey-color;
  font-weight: bold;
  padding: 10px;
  user-select: none;
  transition: color $transition-two;
  &:nth-child(2) {
    margin: 0 20px;
  }
  &.active {
    color: $dark-grey-color;
  }
}

.sort__delete-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../img/trash.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-left: 20px;
  &:not(.mobile) {
    transition: all $transition-three;
    &:hover {
      transform: scale(1.3);
    }
  }
}

@media screen and (max-width: $breakpoint-one) {
  .sort__link {
    padding: 10px;
    &:nth-child(2) {
      margin: 0 5px;
    }
  }

  .sort__delete-button {
    margin-left: 5px;
  }
}

