.to-do-list {
  padding: 0 20px 15px 20px;
  background-color: $white-color;
  border-bottom: {
    left-radius: 10px;
    right-radius: 10px;
  }
}

.to-do-list__empty {
  @include flex-props();
  background: $white-color;
  margin-top: 15px;
  height: 30px;
  width: 100%;
  border-bottom: {
    left-radius: 10px;
    right-radius: 10px;
  }
}

.todo-enter {
  opacity: 0;
}

.todo-enter.todo-enter-active {
  opacity: 1;
  transition: opacity $transition-two;
}

.todo-appear {
  opacity: 0;
}

.todo-appear.todo-appear-active {
  opacity: 1;
  transition: opacity $transition-one;
}