.to-do-list {
  padding: 0 20px 15px 20px;
  background-color: #fff;
  border-bottom: {
    left-radius: 10px;
    right-radius: 10px;
  }
}

.to-do-list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 6px;
  background: #fff;
  width: 100%;
  border-bottom: {
    left-radius: 10px;
    right-radius: 10px;
  }
}

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity $transition-property;
}

.example-appear {
  opacity: 0;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}